<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
    <script th:src="@{/js/echarts.min.js}"></script>
</head>
<body>
<form action="/user/addUser" method="post">
    <p><h3>注册页面</h3></p>
    <p>账号：<input type="text" name="username" /></p>
    <p>密码：<input type="password" name="password" /></p>
    <p><input type="submit" value="注册"/></p>

    <div id="main1" style="width: 400px;height:400px;">

    </div>
    <div id="main2" style="width: 400px;height:400px;">

    </div>
    <div id="main3" style="width: 400px;height:400px;">

    </div>
</form>
</body>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main1'),'light');

    // 指定图表的配置项和数据
    var option = {
        title: {
            text: 'ECharts 入门示例'
        },
        tooltip: {},
        legend: {
            data:['销量']
        },
        xAxis: {
            data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
        },
        yAxis: {},
        series: [{
            name: '销量',
            type: 'bar',
            data: [5, 20, 36, 10, 10, 20]
        }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);

    // 绘制图表-饼图。
    echarts.init(document.getElementById('main2'), 'dark').setOption({
        series: {
            type: 'pie',
            data: [
                {name: 'A', value: 1212},
                {name: 'B', value: 2323},
                {name: 'C', value: 1919}
            ]
        }
    });

    // 基于准备好的dom，初始化 echarts 实例并绘制图表。
    echarts.init(document.getElementById('main3'), 'dark').setOption({
        title: {text: 'Line Chart'},
        tooltip: {},
        toolbox: {
            feature: {
                dataView: {},
                saveAsImage: {
                    pixelRatio: 2
                },
                restore: {}
            }
        },
        xAxis: {},
        yAxis: {},
        series: [{
            type: 'line',
            smooth: true,
            data: [[12, 5], [24, 20], [36, 36], [48, 10], [60, 10], [72, 20]]
        }]
    });
</script>
</html>